
.#{$selector}__container {
    display: inline-block;
    position: relative;
    background: $select-bg;
    cursor: default;
    user-select: none;
    outline: none;

    > * {
        box-sizing: border-box;
        outline: none;
    }
}

.#{$selector}--open {
    &.#{$selector}--below {
        .#{$selector}__error {
            // hide error block if dropdown opened below select__container
            display: none;
        }
        .#{$selector}__selection {
            border-radius: $select-border-radius $select-border-radius 0 0;
            border-bottom: 0;
        }
        .#{$selector}__dropdown {
            top: 100%;
            border-radius: 0 0 $select-border-radius $select-border-radius;
        }
    }
    &.#{$selector}--above {
        .#{$selector}__selection {
            border-radius: 0 0 $select-border-radius $select-border-radius;
            border-top: 0;
        }
        .#{$selector}__dropdown {
            bottom: 100%;
            border-radius: $select-border-radius $select-border-radius 0 0;
        }
    }
}

.#{$selector}--disabled {
    @include select--disabled;
}

.#{$selector}--error {
    .#{$selector}__selection {
        @include select--error;
    }
}

.#{$selector}__error {
    font-size: 12px;
    color: #f00;
}

.#{$selector}--pending {
    cursor: progress;
}

.#{$selector}__selection {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: $select-height;
    padding: 0 ($select-padding-horizontal + 10) 0 $select-padding-horizontal;
    line-height: $select-height;
    @include select--box;

    &.#{$selector}--clearable {
        padding-right: ($select-padding-horizontal + 30);
    }
}

.#{$selector}__selection--placeholder {
    .#{$selector}__selection-text {
        color: $color-placeholder;
    }
}

.#{$selector}__selection-arrow {
    display: block;
    position: absolute;
    right: $select-padding-horizontal;
    top: ($select-height / 2) - 2.5;
    height: 5px;
    width: 5px;

    i {
        display: block;
        border-color: currentColor rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        width: 0;
    }
}

.#{$selector}__clear-selection {
    display: block;
    position: absolute;
    right: $select-padding-horizontal + 10;
    top: ($select-height / 2) - 2;
    line-height: 0;
    width: 10px;
    height: 10px;
}

.#{$selector}__dropdown {
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: $select-bg;
    @include select--box;
}

.#{$selector}__options-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 170px;
    overflow: auto;

    li {
        line-height: $select-height;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 $select-padding-horizontal;
    }
}

.#{$selector}__option--highlighted {
    background-color: $color-highlighted;
}

.#{$selector}__option--selected {
    @include select--selected;
}

.#{$selector}__search {
    display: block;
    padding: 0 $select-padding-horizontal;
}

.#{$selector}__search-field {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    height: 31px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $select-border-color;
    margin: 0 auto;
    outline: none;
}

.#{$selector}__status {
    display: block;
    padding: $padding-base*0.3 $select-padding-horizontal;
    color: $color-placeholder;
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.15;
    }
    100% {
        opacity: 1;
    }
}

.#{$selector}__status {
    font-size: .8em;
}

.#{$selector}__loader {
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: $gray-dark;
    animation: loader 2s linear infinite;
    line-height: 0;

    &:before {
        content: '·';
        line-height: 0;
    }
}
