$gray-dark: #444;
$gray: #cecece !default;
$gray-light: #efefef !default;
$gray-lighter: #f0f0f0 !default;
$brand-primary: #00a7ff !default;
$border-radius-base: 0 !default;
$padding-base: 10px !default;

$selector: 'rs3' !default;

$select__border-radius-enable: true !default;
$select__box-shadow-enable: true !default;

$select__bg-dropdown: #fff!default;
$select__bg-selected: $brand-primary !default;
$select__bg: #fff !default;
$select__border-radius: $border-radius-base !default;

$select__border-color: $gray !default;
$select__color-highlighted: $gray-light !default;
$select__color-placeholder: $gray !default;
$select__color-selected: #fff !default;
$select__color: inherit !default;

$select__height: 31px !default;
$select__padding-base: $padding-base !default;
$select__padding-horizontal: $select__padding-base !default;
