$gray: #cecece !default;
$gray-light: #efefef !default;
$gray-lighter: #f0f0f0 !default;
$brand-primary: #00a7ff !default;
$border-radius-base: 0 !default;
$padding-base: 10px !default;
//
//--------------
$selector: 'PureReactSelect' !default;
//
//--------------
$color-highlighted: $gray-light !default;
$color-placeholder: $gray !default;
$color-selected: $brand-primary !default;
//
//--------------
$select-bg: #fff !default;
$select-border-radius: $border-radius-base !default;
$select-height: 31px !default;
$select-padding-horizontal: $padding-base !default;
//
//
//--------------
@mixin selected {
    background: $color-selected;
    color: #fff;
}

@mixin box {
    border-radius: $select-border-radius;
    border: 1px solid $gray;
    box-shadow: 1px 1px 1px 0 $gray-lighter;
}

@mixin nowrap {
    white-space: nowrap;
    overflow: hidden;
}

//
//--------------
.#{$selector}__container {
    display: inline-block;
    position: relative;
    background: $select-bg;
    z-index: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    > * {
        box-sizing: border-box;
        outline: none;
    }
}

.#{$selector}--open {
    &.#{$selector}--below {
        .#{$selector}__selection {
            border-radius: $select-border-radius $select-border-radius 0 0;
            border-bottom: 0;
        }
        .#{$selector}__dropdown {
            top: 100%;
            border-radius: 0 0 $select-border-radius $select-border-radius;
        }
    }
    &.#{$selector}--above {
        .#{$selector}__selection {
            border-radius: 0 0 $select-border-radius $select-border-radius;
            border-top: 0;
        }
        .#{$selector}__dropdown {
            bottom: 100%;
            border-radius: $select-border-radius $select-border-radius 0 0;
        }
    }
}

.#{$selector}__selection {
    @include nowrap;
    @include box;
    display: block;
    height: $select-height;
    padding: 0 ($select-padding-horizontal + 10) 0 $select-padding-horizontal;
    line-height: $select-height;

    &.#{$selector}--clearable {
        padding-right: ($select-padding-horizontal + 30);
    }
}

.#{$selector}__selection--placeholder {
    color: $color-placeholder;
}

.#{$selector}__selection-arrow {
    display: block;
    position: absolute;
    right: 10px;
    top: ($select-height / 2) - 2.5;
    height: 5px;
    width: 5px;

    i {
        display: block;
        border-color: currentColor rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        width: 0;
    }
}

.#{$selector}__clear-selection {
    display: block;
    position: absolute;
    right: 20px;
    top: ($select-height / 2) - 2;
    line-height: 0;
    width: 10px;
    height: 10px;
}

.#{$selector}__dropdown {
    display: block;
    position: absolute;
    width: 100%;
    background-color: $select-bg;
    @include box;
}

.#{$selector}__options-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        line-height: $select-height;
        @include nowrap;
        padding: 0 $select-padding-horizontal;
    }
}

.#{$selector}__option--highlighted {
    background-color: $color-highlighted;
}

.#{$selector}__option--selected {
    @include selected;
}

.#{$selector}__search-field {
    display: block;
    -webkit-appearance: none;
    height: 31px;
    padding: 0 $select-padding-horizontal;
    width: calc(100% - #{$select-padding-horizontal * 2});
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    outline: none;
}

.#{$selector}__status {
    display: block;
    padding: $padding-base*0.3 $select-padding-horizontal;
    color: $color-placeholder;
}
